@font-face{
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

@font-face{
  font-family: 'Inconsolata', monospace;
  src: url('https://fonts.google.com/?query=inconsolata');
}

body {
  background-color: rgb(10,7,27) !important;
}

.navbar {
  background-color: rgb(12,9,16) !important;
}

.navbar-brand {
  text-transform: uppercase;
}

.navbar-brand {
  padding-left: 20px;
}

.frontPageLinks {
  margin-top: 60px;
  margin-left: 7%;
}

.frontPageLinks a {
  border-radius: 50%;
  margin-right: 70px;
  margin-top: 30px;
  text-align: center;
  font-size: 2rem;
  padding-top: 150px;
  display: inline-block;
  width: 500px;
  height: 500px;
  background-color: #4a7ce3;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
}

#snippets {
  margin-top: 40px;
}

#snippets h1 {
  text-align: center;
}

#snippets h2 {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

#snippets p {
  color: rgb(229, 229, 231);
}

.snippet {
  margin: 0 auto;
  width: 80%;
  color: rgb(229, 229, 231);
  background-color: rgb(23, 20, 39);
  font-size: 1rem;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.description p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgb(229, 229, 231);
  padding-top: 5px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.tags a {
  font-size: 0.8rem;
  padding: 7px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: black;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.code pre code {
  width: 100%;
  background-color: rgb(32, 37, 61);
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 5px;
  font-family: 'Inconsolata', monospace !important;
}

#loginForm, #registerForm {
  border-radius: 10px;
  background-color: rgb(32, 37, 61);
  color: white;
  max-width: 300px;
  height: 400px;
  padding-top: 50px;
  margin: 0 auto;
  margin-top: 120px;
  font-family: 'Montserrat', sans-serif;
}

#register, #login {
  margin-top: 30px;
}

#login p {
  padding-top: 10px;
}

#loginForm a {
  color: #4a7ce3;
}

#loginForm button, #registerForm button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 100px;
  border-radius: 10px;
  height: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  background-color: rgb(12,9,16) ;
  border: none;
}

#loginForm p, #registerForm p {
  text-align: center;
}

#createForm, #updateForm {
  margin: 0 auto;
  height: 60vh;
  width: 60%;
  margin-top: 40px;
}

#createForm #createSnippet, #updateForm #updateSnippet {
  border-radius: 10px;
  height: 40vh;
  width: 100%;
  resize: none;
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  overflow: scroll;
  float: right;
  background-color: rgb(229, 229, 231);
}

#createForm textarea:focus, #updateForm textarea:focus {
  outline: none;
}

#createForm #createTitle, #updateForm #updateTitle {
  border-radius: 10px;
  display: block;
  width: 49%;
  float: left;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', monospace;
  outline: none;
  border-width: thin;
  background-color: rgb(229, 229, 231);
}

#createForm #createLanguage, #updateForm #updateLanguage {
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  width: 49%;
  float: right;
  padding: 5px;
  padding-left: 20px;
  font-family: 'Inconsolata', monospace;
  outline: none;
  border-width: thin;
  background-color: rgb(229, 229, 231);
}

#createForm #createDescription, #updateForm #updateDescription {
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  height: 15vh;
  width: 100%;
  resize: none;
  padding: 20px;
  font-family: 'Inconsolata', monospace;
  outline: none;
  border-width: thin;
  background-color: rgb(229, 229, 231);
}

#createForm #createTags, #updateForm #updateTags {
  border-radius: 10px;
  display: block;
  width: 100%;
  float: left;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-family: 'Inconsolata', monospace;
  outline: none;
  border-width: thin;
  background-color: rgb(229, 229, 231);
}

#createForm button, #updateForm button {
  float: right;
  margin-top: 10px;
  background-color: #4a7ce3;
}

#deleteHeading {
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  padding-left: 0;
  color: rgb(229, 229, 231);
  margin-left: 10%;
}

#deleteButton {
  float: right;
  color: rgb(229, 229, 231);
  margin-right: 10%;
  background-color: #4a7ce3;
  margin-top: -20px;
}

.author {
  display: block;
  font-size: 0.8rem;
  padding-bottom: 10px;
  color: rgb(165, 164, 171)
}

.author a {
  color: rgb(165, 164, 171)
}

.alert-danger {
  background-color: #b30000 !important;
  color: #3f0000 !important;
  border-color: #b30000 !important;
}