<h1>Create snippet</h1>

<form method="post" action="./crud-snippets/create">
  <div class="form-group">
    <textarea></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primart">Create</button>
</form>