<h1>Create snippet</h1>

<form method="post" action="./create">
  <div class="form-group">
    <textarea name='snippet'></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Create</button>
</form>