<div id="createForm">
  <h1>Create snippet</h1>
  <form method="post" action="./create">
    <div class="form-group">
      <textarea name='snippet' maxlength='8000' placeholder='Write code...'></textarea>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Create</button>
  </form>
</div>