<h1>Are you sure you want to delete?</h1>
<form method="post" action="./<%= viewData?.id %>/delete">
  <p><%= viewData.snippet %></p>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>