<h1>CRUD Snippets</h1>

<div>
  <% if (viewData?.crudSnippets?.length) { %>
    <% for (const snippet of viewData.crudSnippets) { %>
      <article>
        <h2><%= snippet.user %></h2>
        <p><%= snippet.snippet %></p>
      </article>
      <% if (snippet.creator() === true) { %>
        <a href="./<%= snippet.id %>/update">Update</a>
        <a href="./<%= snippet.id %>/delete">Delete</a>
      <% } %>
    <% } %>
  <% } else { %>
    <p>No snippets to be displayed...</p>
  <% } %>
</div>