<h1>Update snippet</h1>
<form method="post" action="./<%= viewData?.id %>/update">
  <textarea name='snippet'><%= viewData.snippet %></textarea>
  <button type="submit" class="btn btn-primary">Update</button>
</form>