<div id="updateForm">
  <h1>Update snippet</h1>
  <form method="post" action="./<%= viewData?.id %>/update">
    <div class="form-group">
      <textarea name='snippet' maxlength='8000'><%= viewData.snippet %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>