<% if (typeof username !== 'undefined') { %>
<div class="frontPageLinks">
  <a href="./snippets">Need code?<br>Look no further!<br><br>Enter snippet room<br></a>
  <a href="./snippets/create">Have code to share?<br>Sharing is caring!<br><br> Create snippet</a>
</div>
<% } else { %>
  <div class="frontPageLinks">
    <a href="./snippets">Need code?<br>Look no further!<br><br>Enter snippet room<br></a>
    <a href="./users/login">Want to share your <br>code with the world? <br><br> Login to contribute</a>
  </div>
<% } %>