<div id='loginForm'>
  <p>Login to SnippetRoom&trade;</p>
  <form class='px-4 px-1' id="login" method='post' action='./users/login'>
    <div class='form-group'>
      <input type='text' class='form-control mb-3' id='username' name='username' placeholder='Username'>
    </div>  
    <div class='form-group'>
      <input type='password' class='form-control mb-3' id='password' name='password' placeholder='Password'>
    </div>
    <p>Don't have an account?<br><a href="./users/register">Register here</a></p>
    <button type='submit' class="btn-btn-primary">Login</button>
  </form>
</div>